*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #090b1a;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65vw;
  height: 55vh;
  border-radius: 8px;
  background: #1b1938;
}

.card__description {
  width: 50%;
  padding: 6rem;
}

.card__heading {
  font-size: 3rem;
  color: white;
}

.card__primary {
  color: #aa5cdb;
}

.card__text {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.75);
  width: 90%;
  line-height: 1.6;
  margin: 2rem 0 5rem 0;
}

.card__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  font-family: "Lexend Deca", sans-serif;
  width: 93%;
  color: white;
}

.card__stats--heading {
  margin-bottom: 0.3rem;
}

.card__stats--text {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.6);
}

.card__image {
  width: 50%;
  border-radius: 0 8px 8px 0;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(100, 11, 152, 0.5))), url(/img/image-header-desktop.jpg);
  background: linear-gradient(to right bottom, rgba(100, 11, 152, 0.5) rgba(145, 11, 229, 0.5)), url(/img/image-header-desktop.jpg);
  background-size: cover;
}

@media only screen and (max-width: 1300px) {
  .card__description {
    padding: 3rem;
  }
}

@media only screen and (max-width: 1025px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 90vh;
    width: 90vw;
  }
  .card__description {
    width: auto;
    height: 70%;
    text-align: center;
    padding: 3rem;
  }
  .card__text {
    margin: 2rem 0 3rem 0;
  }
  .card__stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__stats--detail:not(:last-child) {
    margin-bottom: 2rem;
  }
  .card__image {
    height: 30%;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 90vh;
    width: 90vw;
  }
  .card__description {
    width: auto;
    height: 70%;
    text-align: center;
    padding: 3rem;
  }
  .card__stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__stats--detail:not(:last-child) {
    margin-bottom: 2rem;
  }
  .card__image {
    height: 30%;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */